node_modules/
build/
serverless/prepare-insert/node_modules/
serverless/prepare-insert/dist/
serverless/slack-invite/node_modules/
serverless/slack-invite/dist/
npm-debug.log
coverage
.idea/
.DS_Store
